.HomePage {
    text-align: center;
  }
  
  
  .HomePage-header {
    background-color: #1f036d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .HomePage-link {
    color: #61dafb;
  }
  
  