.EventRegistration-title{
    position: absolute;
    width: 375px;
    height: 57px;
    left: 0px;
    top: 44px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 21px;
    /* or 67% */

    text-align: center;

    color: #000000;
}